
ul{
  list-style: none;
}
li a {
  color: #495057;
  text-decoration: none;
}
label{
  font-weight: 600;
}
.container{
  padding-top: 20px;
}
.posts ul{
  width: 100%; 
  padding: 0 2em 0 0;
  margin: 0;
}
.posts img{
  width: 20%;
  float: left;
  padding: .5em 1em;
}
.posts a{
  height:60px;
  line-height:20px; /* Height / no. of lines to display */
  overflow:hidden;
  display: block;
}
.carousel-inner img{
  height: 50%;
  width: 100%; 
}
.carousel{
  margin-bottom: 2em;
}
#Hiusername{
  float: left;
  margin: 0;
}
.index-form a{
  height:60px;
  line-height:20px; /* Height / no. of lines to display */
  overflow:hidden;
  display: block;
}