{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'weblog/css/header-style.css' %}" />

<div class="header">
    <div class="container">
        <div class="logo">
            <h1>
                <a href="#">Pars Pooyesh</a>
            </h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
    </div>
</div>