{% load static %}
{% load header_tags %}

<nav class="navbar navbar-expand-lg navbar-light">
<div class="container">
<a class="navbar-brand" href="{% url 'weblog:index' %}">{{"title"|header_settings}}</a>
<!-- <a class="navbar-brand" href="{% url 'weblog:index' %}">{% if header_title %} {{header_title}} {%endif%}</a> -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <div class="nav-link" >
            <p id="Hiusername">{{user}}</p>
            {% if user.is_authenticated %}
            <a href="{% url 'weblog:logout' %}">/logout</a>
            </div>
            {% else %}
            <a href="javascript:void(0);" class="text-btn login-text" data-toggle="modal" data-target="#login">login</a>
            /<a href="{% url 'weblog:signup' %}">signup</a>
        </div>
            {% endif%}
    </li>
    

<div id="login" class="modal fade moodal"  role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                <p>Some text in the modal.</p>
                <div class="panel-body">
                    <form class="form-horizontal" id="login_form" name="LoginForm" action="/login/" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="username" name="username"  placeholder="Username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="control-group mt-2">
                        <div class="controls">
                            <button type="submit" id="login-btn" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                    </form>
                </div>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>










    <li class="nav-item active">
        {% if user.is_superuser %}
        <div class="nav-link" >
            <a href="{% url 'admin:index' %}">admin panel</a>
        </div>    
        {% endif %}
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:index' %}">dashboard</a>
    </li>
    {% endif %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    </ul>
    <div style="margin-right: 1em;">
    {% now " H:i:s" %}
    </div>
    <form class="form-inline my-2 my-lg-0" action="{%  url 'weblog:search' %}">
    <input class="form-control mr-sm-2" type="search" name="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</div>
</nav>

<div class="container">
    <div class="row">
            <img src="{% static 'logo.png' %}"  style="float: right; width: 25em;" alt="">
    </div>
</div>
<script src="{% static 'weblog/js/jquery3.3.1.js' %}"></script>
<script src="{% static 'weblog/js/bootstrap.min.js' %}"></script>
<script>
        $(document).on('submit','#login_form', function(e){
          e.preventDefault();
          var user = $('#username').val();
          $.ajax({
            type:'POST',
            url : '/login/',
            data:{
              username:$('#username').val(),
              password:$('#password').val(),
              csrfmiddlewaretoken: $('input[name = csrfmiddlewaretoken ]').val(),
            },
            success: function(){
                $('#Hiusername').text(`hi ${user}`);
                $('.login-text').text(' ');
                $('#login').modal('toggle');
                $('#login').removeClass('in');
                $('#login').attr("aria-hidden","true");
                $('#login').css("display", "none");
                $('.modal-backdrop').remove();
                $('body').removeClass('modal-open');
                setTimeout(function(){},2000);
            },
            error: function(error){
               alert("username or password doesnt exist");
               }
          });
  
        });
      </script>
<!-- menu -->
