{% extends 'weblog/base.html' %}
{%load static%}
{% block content %}
        <div class="row">
            {% include "weblog/menu.html"%}
        </div> 
    <div class="row">  
    <div class="col-md-9 col-sm-12">
        <div class="row posts">
                {% include "weblog/slider.html"%} 
        {% if latest_post_list %}
        <ul>
        {% for post in latest_post_list %}
            <li>
                <img src="{{ post.post_img.url }}" alt="">
                <h3>{{ post.post_title }}</h3>
                <a href="{%  url 'weblog:detail' post.slug %}">{{ post.post_text }}</a>
            </li>
            <hr>
        {% endfor %}
        </ul>
        {% else %}
        <p>No post are available.</p>
        {% endif %}
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="row Search-pannel">      
            <form method="GET" class="index-form" >
                <div class="form-group">
                    <label for="category" class="text-dark">Category</label>
                    <select class="form-control" id="category">
                    <option>All</option>
                    <option>Posts</option>
                    <option>Comments</option>
                    <option>Most voted</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="designer">Author</label>
                    <input type="text" name="Author" class="form-control" id="designer" value="{{ request.GET.Author }}" placeholder="Enter Author name">
                </div>
                <div class="form-group">
                    <label for="contain_word">Contains Words</label>
                    <input type="text" name="text" class="form-control" id="contain_word" value="{{ request.GET.text }}" placeholder="Enter contain words">
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                {% if searched %}
                <ul>
                    {% for s in searched %}
                        <li>
                            <img src="{{ post.post_img.url }}" alt="">
                            <h3>{{ s.post_title }}</h3>
                            <a href="{%  url 'weblog:detail' s.slug %}">{{ s.post_text }}</a>
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>  
        </div>
    </div>
</div>

{% endblock %}

