{% extends 'weblog/base.html' %}
{%load static%}
{% block content %}
        <div class="row">
            {% include "weblog/menu.html"%}
        </div> 
    <div class="row">  
    <div class="col-md-9 col-sm-12">
        <div class="row posts">
                {% include "weblog/slider.html"%} 
        {% if object_list %}
        <ul>
        {% for obj in object_list %}
            <li>
                {% if obj.post_img%}
                <img src="{{ obj.post_img.url }}" alt="">
                {%endif%}
                <h3>{{ obj.post_title|truncatechars:20}}</h3>
                <p>{{ obj.created_date }}</p>
                <a class="comment-btn btn btn-info" href="{% url 'weblog:comment' obj.slug %}">Comment</a>
                <a href="{%  url 'weblog:detail' obj.slug %}">{{ obj.post_text|truncatechars:20 }}</a>
            </li>
            <hr>
        {% endfor %}
        </ul>
        {% else %}
        <p>No post are available.</p>
        {% endif %}
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="row Search-pannel">      
            <form method="GET" action="{% url 'weblog:search' %}" class="index-form" >
                <div class="form-group">
                    <label for="category" class="text-dark">Category</label>
                    <select class="form-control" id="category">
                    <option>All</option>
                    <option>Posts</option>
                    <option>Comments</option>
                    <option>Most voted</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="designer">Author</label>
                    <input type="text" name="Author" class="form-control" id="designer" value="{{ request.GET.Author }}" placeholder="Enter Author name">
                </div>
                <div class="form-group">
                    <label for="contain_word">Contains Words</label>
                    <input type="text" name="text" class="form-control" id="contain_word" value="{{ request.GET.text }}" placeholder="Enter contain words">
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>  
        </div>

        <div class="row Search-pannel">
            {% if mostseen %}
            <ul>
                <h2>Most Seen</h2>
            {% for obj in mostseen %}
                <li>
                    <h5>{{ obj.post_title|truncatechars:20}}</h5>
                    <a href="{%  url 'weblog:detail' obj.slug %}">{{ obj.post_text|truncatechars:20 }}</a>
                </li>
                <hr>
            {% endfor %}
            </ul>
            {% else %}
            <p>No post are available.</p>
            {% endif %}
        </div>
    </div>
    </div>
</div>

{% endblock %}

