{% extends 'weblog/base.html' %}

{% block head_title %}Login || {{ block.super }}{% endblock head_title %}

{% block content %}
<h2>Log in to My Site</h2>
<div>
    <form class="form-horizontal" id="login_form" name="LoginForm" action="/login/" method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input type="text" id="username" name="username"  placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
    </div>
    <div class="control-group mt-2">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}
